/* @media screen and (min-width: 800px) {
   .container > .item {
      width: 33.33%;
  }
} */

/* 가로 600px~799px 사이 */
/* @media screen and (min-width: 600px) and (max-width: 799px) { */
@media screen and (max-width: 799px) {
   .container > .item {
      width: 50%;
  }
}

@media screen and (max-width: 599px) {
   .container > .item {
      width: 100%;
  }
}
