/* position 속성은 중복되는 또는 나열되는 박스의 위치가 어떻게 정해지는지를 정의한다. */
/* 1. static
- 모든 박스 요소가 만들어지면 기본적으로 가지는 디폴트 position 속성이다.
- 만들어진 위치가 정 위치이고 left, top과 같은 위치이동 속성 적용이 안된다.


/* 2. relative
- 만들어진 위치가 정위치이나 left, top 등을 사용해서 위치이동을 할 수 있다.
- 위치 이동시 기준점(왼쪽 위 꼭지점)은 처음 만들어진 위치다.
- left, top이 지정되지 않는 상태에서는 right, bottom 값이 지정된다.
*/


/* 3. absolute
- 독립적으로는 거의 사용하지 않고 어떤 요소의 자식으로 있을때 주로 사용된다.
- 특징은 static이 아닌 부모를 기준으로 그 부모 내부를 기준으로 위치 이동이 가능하다.(단 마이너스 값을 적용할 경우 부모의 반경을 넘을 수는 있다.)
- static이 아닌 부모를 가진 absolute 요소는 left, top, bottom, right 이동이 부모 내에서 가능하다.
- left, top이 지정되지 않는 상태에서는 right, bottom 값이 지정된다.
*/


/* 4. fixed
- 만들어지는 위치는 static과 동일하지만 위치 이동 시 기준점은 부모를 무시하고 브라우저를 기준으로 한다. */
/* - static인 부모를 둔 absolute는 결국 body를 기준 잡는다. fixed 역시 body를 기준 잡는다. 둘의 차이는 스크롤 했을때 absolute의 경우 위치가 고정 되지만 fixed의 경우 항상 간격을 유지한다. */

div {
   border: 1px solid;
   width: 100px;
   height: 100px;
}

.b {
   position: relative;
   _top: 50px;
   _bottom: 100px;
}

div.c {
   width: 300px;
   height: 200px;
   position: relative;
}

div.d {
   background: yellow;
   position: absolute; /* 부모가 static이면 안 됨 */
   right: 0;
   bottom: 0;
}

body {
   height: 3000px;
}

div.fixed {
   top: 100px;
   position: fixed;
   background: red;
   right: 100px;
}

div.absolute {
   position: absolute;
   background: green;
   top: 100px;
   left: 100px;
}