/*
- transition(전환)은 한 요소에 적용된 스타일의 속성값을 다른 속성값으로 변하게 하는 것을 말한다.
- transition의 적용은 전환 대상 요소에 지정한다.


1. transition-property : 전환 대상을 지정한다. 일반적으로 all로 모두 지정한다.
전환 대상 속성 참조 : https://www.w3schools.com/cssref/css_animatable.asp
2. transition-duration: 전환이 진행되는 시간을 지정한다.
3. transition-delay: 전환이 진행되기 전 지정 시간을 대기시킨다. 보통 잘 사용되지는 않는다.
4. transition-timing-function: 전환이 진행되는 속도를 지정한다. 특히 cubic-bezier는 속도를 지정할 수 있다.
*/


* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

div {
   width: 100px;
   height: 100px;
   border: 1px solid;
   background: green;
   padding: 10px;
   margin-bottom: 10px;

   transition-property: width;
   transition-duration: 3s;
   transition-delay: 0.3s;
}

div:hover {
   width: 800px;
}

div:nth-child(1):hover {
   transition-timing-function: linear; /* 등속 */
}

div:nth-child(2):hover {
   /* width: 600px;
   transition-duration: 1s;
   transition-delay: 0.3s; */
   transition-timing-function: ease; /* 빠른 -> 느린 */
}

div:nth-child(3):hover {
   transition-timing-function: ease-in; /* 느린 -> 빠른 */
}

div:nth-child(4):hover {
   transition-timing-function: ease-out; /* 빠른 -> 조금빠른 -> 느린 */
}

div:nth-child(5):hover {
   transition-timing-function: ease-in-out; /* 조금빠른 -> 느린 -> 조금빠른 */
}

div:nth-child(6):hover {
   transition-timing-function: cubic-bezier(.1,1.09,1,.21); 
}